{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/add_todo.css' %}">
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 class="text-center">Add a New Task</h1>
    
    <form method="POST" action="#" class="mt-3">

        {% csrf_token %}

        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" class="form-control" id="task" name="task" required>
        </div>


        <div class="form-group">
            <label for="taskDescription">Created At</label>
            <input type="date" class="form-control" name="created_at" id="">
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
    
    <a href="{% url 'todo' %}" class="btn btn-secondary mt-3">Back to To-Do List</a>
</div>

{% endblock %}